{% from "govuk/components/cookie-banner/macro.njk" import govukCookieBanner %}

{% set cookieHtml %}
    <p class="govuk-body">{{ common.cookieBannerEssentialCookies }}</p>
    <p class="govuk-body">{{ common.cookieBannerAnalyticCookies }}</p>
{% endset %}

{% set cookieAcceptHtml %}
    <p class="govuk-body">{{ common.cookieBannerAcceptedCookies | safe }} {{ common.cookieBannerChangeCookies | safe }}</p>
{% endset %}

{% set cookieRejectHtml %}
    <p class="govuk-body">{{ common.cookieBannerRejectedCookies | safe }} {{ common.cookieBannerChangeCookies | safe }}</p>
{% endset %}

{{ govukCookieBanner({
    classes: 'cookie-banner',
    ariaLabel: 'Cookies on Protected Characteristics Questionnaire',
    hidden: true,
    messages: [
        {
            classes: 'cookie-banner-message',
            headingText: common.cookieBannerTitle,
            html: cookieHtml,
            actions: [
            {
                classes: 'cookie-banner-accept-button',
                text: common.cookieBannerAcceptCookies,
                type: "button"
            },
            {
                classes: 'cookie-banner-reject-button',
                text: common.cookieBannerRejectCookies,
                type: "button"
            },
            {
                text: common.cookieBannerViewCookies,
                href: "/cookies"
            }
        ]
        },
        {
            classes: 'cookie-banner-accept-message',
            html: cookieAcceptHtml,
            role: "alert",
            hidden: true,
            actions: [
            {
                classes: 'cookie-banner-hide-button',
                text: common.cookieBannerHideMessage
            }
        ]
        },
        {
            classes: 'cookie-banner-reject-message',
            html: cookieRejectHtml,
            role: "alert",
            hidden: true,
            actions: [
            {
                classes: 'cookie-banner-hide-button',
                text: common.cookieBannerHideMessage
            }
        ]
        }
    ]
}) }}

<script src="{{ globals.basePath }}/public/javascripts/cookie_bundle.js"></script>
