<script src="{{ globals.basePath }}/public/javascripts/govuk-frontend/govuk/all.js"></script>
<script nonce="{{ globals.nonce }}">window.GOVUKFrontend.initAll()</script>
{% if (settings.env == 'prod') or (settings.env == 'production') %}
    <script src="https://js-cdn.dynatrace.com/jstag/17177a07246/bf00910jpo/6d0dc4b49e2f265a_complete.js" integrity="sha384-rsf2+Rs7JDFenI0EJQ9zwfXObRU9MbEKFgsma7tGrIUjhNwoFOfjAd6Vtsnox0YH" crossorigin="anonymous"></script>
{% endif %}
{% if (settings.env == 'testing') %}
    <script src="https://js-cdn.dynatrace.com/jstag/17177a07246/bf24054dsx/27a3075f1661d271_complete.js" integrity="sha384-RJ7TM8tmqEA7Cig6YK8I4wRsd9dgFJji1A8c4NREjbF7tTTN83FI6bCDZaPh8NU0" crossorigin="anonymous"></script>
{% endif %}
<!--[if lte IE 9]>
<script src="{{ globals.basePath }}/public/javascripts/form-polyfill.js"></script>
<![endif]-->
