$path: "/public/images/";

// Import GOV.UK Frontend
@import "govuk/all";
@import "govuk/settings/all";
@import "govuk/core/all";
@import "govuk/objects/all";
@import "govuk/components/back-link/back-link";
@import "govuk/components/button/button";
@import "govuk/components/checkboxes/checkboxes";
@import "govuk/components/date-input/date-input";
@import "govuk/components/details/details";
@import "govuk/components/error-message/error-message";
@import "govuk/components/error-summary/error-summary";
@import "govuk/components/fieldset/fieldset";
@import "govuk/components/footer/footer";
@import "govuk/components/header/header";
@import "govuk/components/hint/hint";
@import "govuk/components/input/input";
@import "govuk/components/inset-text/inset-text";
@import "govuk/components/panel/panel";
@import "govuk/components/phase-banner/phase-banner";
@import "govuk/components/radios/radios";
@import "govuk/components/select/select";
@import "govuk/components/skip-link/skip-link";
@import "govuk/components/summary-list/summary-list";
@import "govuk/components/table/table";
@import "govuk/components/tag/tag";
@import "govuk/components/textarea/textarea";
@import "govuk/components/warning-text/warning-text";
@import "govuk/utilities/all";
@import "govuk/overrides/all";

@import "patterns/cookie-bar";
@import "patterns/phase-banner";
@import "patterns/header";
@import "patterns/panel";

@import "patterns/task-list";
@import "patterns/check-your-answers";

@import "application-common.scss";

.multiple-choice input {
  filter: none;
}

li.task-item , li.task-item .govuk-heading-m {
  float: none;
}
