$path: "/public/images/";

// Import GOV.UK Frontend
@use "public/govuk/all";
@use "public/govuk/settings/all";
@use "public/govuk/core/all";
@use "public/govuk/objects/all";
@use "public/govuk/components/back-link/back-link";
@use "public/govuk/components/button/button";
@use "public/govuk/components/checkboxes/checkboxes";
@use "public/govuk/components/date-input/date-input";
@use "public/govuk/components/details/details";
@use "public/govuk/components/error-message/error-message";
@use "public/govuk/components/error-summary/error-summary";
@use "public/govuk/components/fieldset/fieldset";
@use "public/govuk/components/footer/footer";
@use "public/govuk/components/header/header";
@use "public/govuk/components/hint/hint";
@use "public/govuk/components/input/input";
@use "public/govuk/components/inset-text/inset-text";
@use "public/govuk/components/panel/panel";
@use "public/govuk/components/phase-banner/phase-banner";
@use "public/govuk/components/radios/radios";
@use "public/govuk/components/select/select";
@use "public/govuk/components/skip-link/skip-link";
@use "public/govuk/components/summary-list/summary-list";
@use "public/govuk/components/table/table";
@use "public/govuk/components/tag/tag";
@use "public/govuk/components/textarea/textarea";
@use "public/govuk/components/warning-text/warning-text";
@use "public/govuk/utilities/all";
@use "public/govuk/overrides/all";

@use "patterns/cookie-bar";
@use "patterns/phase-banner";
@use "patterns/header";
@use "patterns/panel";

@use "patterns/task-list";
@use "patterns/check-your-answers";

@use "application-common.scss";

.multiple-choice input {
  filter: none;
}

li.task-item , li.task-item .govuk-heading-m {
  float: none;
}
