$path: "/public/images/";

// Import GOV.UK Frontend
@import "all";
@import "settings/all";
@import "core/all";
@import "objects/all";
@import "components/back-link/back-link";
@import "components/button/button";
@import "components/checkboxes/checkboxes";
@import "components/date-input/date-input";
@import "components/details/details";
@import "components/error-message/error-message";
@import "components/error-summary/error-summary";
@import "components/fieldset/fieldset";
@import "components/footer/footer";
@import "components/header/header";
@import "components/hint/hint";
@import "components/input/input";
@import "components/inset-text/inset-text";
@import "components/panel/panel";
@import "components/phase-banner/phase-banner";
@import "components/radios/radios";
@import "components/select/select";
@import "components/skip-link/skip-link";
@import "components/summary-list/summary-list";
@import "components/table/table";
@import "components/tag/tag";
@import "components/textarea/textarea";
@import "components/warning-text/warning-text";
@import "utilities/all";
@import "overrides/all";

@import "patterns/cookie-bar";
@import "patterns/phase-banner";
@import "patterns/header";
@import "patterns/panel";

@import "patterns/task-list";
@import "patterns/check-your-answers";

@import "application-common.scss";

.multiple-choice input {
  filter: none;
}

li.task-item , li.task-item .govuk-heading-m {
  float: none;
}
