/govuk/
/public/
/log/
/lib/
/.idea/
/nbproject/
.DS_Store
/.vscode/
/output/
.sonar/
.sonarlint/
.project
/npm-debug.log*
jsconfig.json
*.tmp
coverage
*.iml
/test/end-to-end/output/**
package-lock.json
yarn-error.log
version
.scannerwork/
infrastructure/.terraform
/mochawesome-report/
functional-output
smoke-output/
/config/dev.yaml
.stryker-tmp/
stryker.log
undefinedconsole.log

.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions

.pnp.cjs

node_modules/